@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* { margin: 0; padding: 0;}
a {text-decoration  : none; color: black;}
body {font-family: 'Jua', sans-serif; }

#main_header .gnb_box{width: 1800px; height: 50px; margin: 0 auto; position: relative;}
#main_header ul.gnb_depth1 { position: absolute; right: 0; top: 0;}
#main_header ul.gnb_depth1 li { display: inline-block; margin-left: 20px;}
#main_header ul.gnb_depth1 .depth1_links { display: inline-block; line-height: 55px;}

#main_header .gnb_box2{width: 1800px; height: 50px; margin: 0 auto; position: relative;}
#main_header ul.gnb_depth2 { position: absolute; right: 0; top: 0;}
#main_header ul.gnb_depth2 li { display: inline-block; margin-left: 20px;}
#main_header ul.gnb_depth2 .depth1_links2 {font-size: 20px; height: 30px; line-height: 50px;}

#main_header .gnb_box3{width: 1800px; height: 50px; margin: 0 auto; position: relative; margin-bottom: 55px;}
#main_header .gnb_box3 img {width: 370px; margin-top: 40px;}
#main_header ul.gnb_depth3 { position: absolute; right: 0; top: 0;}
#main_header ul.gnb_depth3 li { display: inline-block; margin-left: 50px; }
#main_header ul.gnb_depth3 .depth1_links3 {font-size: 26px; height: 30px; line-height: 150px;}

.intro-9 ul {float: right; margin-top: -1460px; font-size: 32px; line-height: 66px; margin-right: 30px;}

.hover1:hover {background-color: gray;}
.hover2:hover {background-color: gray;}
.hover3:hover {background-color: gray;}
.hover4:hover {background-color: gray;}
.hover5:hover {background-color: gray;}
.hover6:hover {background-color: gray;}
.hover7:hover {background-color: gray;}