@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

a {text-decoration  : none;}
body {font-family: 'Jua', sans-serif; }
header { position: sticky; top: 0; left: 0; height: 100px; width: 100%; background-color: rgb(0, 0, 0); padding-top: 32px; display: flex;}
.v-line { border-left : 1px solid #ffffff; height : 12px;}
#main_header .gnb_box {position: relative; width: 1730px; height: 78px; margin: 0 auto; }
#main_header .gnb_box img {width: 150px; height: 45px; margin-top: 20px; } 
#main_header ul { position: relative;}
#main_header ul.gnb_list { position: absolute; right: 0; top: 0; }
#main_header ul.gnb_list li { display: inline-block; margin-left: 44px;}
#main_header ul.gnb_list li a {color: white; }
#main_header ul.gnb_list .list_links {font-weight: bold; display: inline-block; line-height: 78px;}

.main {position: relative; background-color: black; width: 100%; height: 1050px;}
.main .image1 {margin-top: -600px; margin-left: -30px;}
.main .image2 {width: 830px; margin-left: -380px;margin-top: -70px;}
.main .main_text {position: absolute; color: white; padding-left: 350px; font-size: 100px; padding-top: 220px;}
.main .main_text .last {}