@charset "utf-8";

a {color: inherit; text-decoration: none;}

/* nav */
nav { text-align: center; width: 3px; height: 180px; padding: 3px; position: fixed; top: 50%; right: 15px; background-color: rgba(196, 212, 180, 1); z-index: 10; transform: translateY(-50%);}

#topMenu > li { width: 3px; height: 0px; background-color: rgba(255, 255, 255, 1); transition: 1.5s;}

/* header */
header { position: absolute; top: 0; left: 0; width: 100%; min-width: 1450px; height: 80px; background-color: #fff; z-index: 9999;}

.bg3 header {border-bottom: 1px solid #ccc;}
.bg4 header {border-bottom: 1px solid #ccc;}

.logo { padding-left: 100px; position: absolute; top: 50%; transform: translateY(-50%);}

.gnb { padding-right: 100px; float: right; line-height: 80px;}
.gnb a { font-size: 12px; padding-left: 40px; font-weight: 500;}

/* bg1 */
.bg1 {position: relative;}

.main { width: 100%; height: 100%; position: absolute; top: 0; left: 0; overflow: hidden;}
.main img:nth-of-type(2) { position: absolute; bottom: 0; left: 0; z-index: 9999; opacity: 30%;}

/* bg2 */
.bg2 { position: relative; background-color: black;}

.bg2 .bg2_txt > img:nth-of-type(1) { position: absolute; opacity: 20%; top: 120px; right: -1090px; z-index: 9999;}
.bg2 .bg2_txt > img:nth-of-type(2) { position: absolute; opacity: 20%; left: -620px; top: 200px; z-index: 9999;}

.bg2 .bg_container { width: 1520px; height: 100%; overflow: hidden; margin: 0 auto;}
.bg2 .bg_container .profile img { position: absolute; top: 300px; left: 220px;}
.bg2 .bg_container .profile > p:nth-of-type(1) { font-size: 30px; color: #fff; font-weight: bold; position: absolute; top: 400px; left: 630px;}
.bg2 .bg_container .profile > p:nth-of-type(2) { font-size: 16px; color: darkkhaki; font-weight: 500; position: absolute; top: 450px; left: 630px;}
.bg2 .bg_container .profile > p:nth-of-type(3) {font-size: 18px; color: white; position: absolute; top:500px; left: 630px}

.menu { width: 1520px; position: absolute; bottom: 50px; left: 220px; color: white; font-size: 14px;}

.menu .no1 {margin-right: 125px;}
.menu .no2 {margin-right: 125px;}
.menu .no3 {margin-right: 125px;}
.menu .no4 {margin-right: 125px;}
.menu .no5 {margin-right: 125px;}
.menu .no6 {margin-right: 125px;}


/*bg3*/
.bg3 {position: relative;}

.beauty p { font-size: 20px; color: #000; font-weight: 500; position: absolute; top: 150px; left: 50%; transform: translateX(-50%);}
.bg3 .beauty { width: 1720px; height: 100%; margin: 0 auto;}
.bg3 .beauty .beauty_top {padding-top: 250px;}
.bg3 .beauty .beauty_bottom {padding-top: 50px;}
.bg3 .beauty a {padding-right: 49px;}
.bg3 div a:last-of-type {padding: 0;}

/*bg4*/
.bg4 {position: relative;}

.bg4 .press p { font-size: 20px; color: #000; font-weight: 500; position: absolute; top: 130px; left: 50%; transform: translateX(-50%);}
.bg4 .press .entertainer { width: 90%; margin: 0 auto; padding-top: 150px;}
.bg4 .press .entertainer img { float: left; width: 20%;}

/*footer*/
footer { margin: 0 auto; width: 100%; height: 200px;}

footer .banner { width: 950px; height: 150px; margin: 0 auto; padding: 100px 0 100px;}
footer img { float: left; padding-right: 50px; width: 150px; height: 150px;}
footer .banner a:last-child img {padding-right: 0;}
footer .copyright { position: absolute; display: inline-block; width: 100%; height: 50px; background-color: #000; color: #fff; text-align: center; line-height: 50px;}

#footerWrap {height: auto !important;}
#footerWrap .fp-tableCell {height: 470px !important;}

