@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {margin: 0; padding: 0;}
body {font-family: 'Jua', sans-serif;}
a, a:visited {text-decoration: none; color: black;}

/* header */
.header_inner { width: 1200px; margin: 0 auto;}
.header_top {display: flex;}
#gnb { display: flex; justify-content: space-between; height: 80px; align-items: center;}

.icon {display: flex; padding-left: 30px; margin-left: 30px; position: relative;}
.icon::before {content: ""; display: block; width: 1px; height: 30px; position: absolute; left:0; top:10px;}
.icon li:not(:last-child) {padding-right: 20px;}

.zoom {display: flex; align-items: center;}
.zoom span {line-height: 40px; padding-right: 20px;}

.header_secondline {border-top: 1px solid rgb(148, 143, 143);}
.header_secondline> div {display: flex; justify-content: space-between; height: 60px; align-items: center;}
.header_secondline> div ul {display: flex;}

.secondline_inner { max-width: 1200px; margin:0 auto; margin-bottom: -50px;}
.secondline_left li {font-size: 18px; font-weight: 700; padding-right: 40px;}
.secondline_right li{ padding-left: 20px;}

/* visual_area */
.visual_area { height: 518px; position: relative; margin-top:35px;}
.visual_area li {height: 518px;}
.visual_area li.slide-one {background: url(../images/main_visual.jpg); color: white; margin-top: 10px;}
.visual_area li.slide-one p {position: relative; margin-top: -150px;}
.visual_area li.slide-two { background: url(../images/main_visual.jpg); color: white; margin-top: 10px;}
.visual_area li.slide-two p {position: relative; margin-top: -150px;}
.visual_area li.slide-three { background: url(../images/main_visual.jpg); color: white; margin-top: 10px;}
.visual_area li.slide-three p {position: relative; margin-top: -150px;}
.visual_area p { position: absolute; top: 53%; left: 50%; transform: translateX(-50%); line-height: 1.9; font-weight: bold; text-align: center;}

.bx-controls-direction a { position: absolute; top: 50%; transform: translateY(-50%); display: block; width: 40px; height: 76px; opacity: 0.4; transition: all .3s; text-indent: -9999px;}
.bx-controls-direction a:hover { opacity: 0.8;}
.bx-controls-direction .bx-prev { background: url(../../hde/images/main_arrow_left.png); left: 50px;}
.bx-controls-direction .bx-next { background: url(../../hde/images/main_arrow_right.png); right: 50px;}

.bx-pager { position: absolute; bottom: 50px; width: 100%; text-align: center;}
.bx-pager div { display: inline-block; margin: 0 5px;}
.bx-pager div a { display: block; width: 8px; height: 8px; background-color: rgb(185, 182, 182); border-radius: 4px; font-size: 0;}
.bx-pager div a.active { background-color: rgb(255, 255, 255); width: 40px; transition: all .3s;}

/* financial */
#financial { display: flex; flex-direction: column; justify-content: space-between; align-items: center; text-align: center; height: 300px; padding-bottom: 100px; padding-top: 80px;}
.financial_service { text-align: center; padding-bottom: 50px;}
.financial_service h2 { font-size: 28px; font-weight: 700; padding-bottom: 20px;}

.top_service {width: 1200px; display: flex; justify-content: space-between;}
.top_service > div { width: 65%; background: rgb(223, 221, 221); display: flex;}
.top_service > div > div { width: 50%; text-align: center; color: #fff;}
.top_service > div > div h3 { font-size: 24px; padding-bottom: 20px;}
.top_service > div > div p { padding-bottom: 20px; font-size: 18px; letter-spacing: -1px;}
.top_service > div > div img {width: 100%;}

.first_explain { background-color:skyblue; padding: 40px;}
.second_explain { background-color:rgb(101, 101, 214); padding: 40px;}

/* footer */
#footer {width: 100%;  background: rgb(226, 223, 224); }
.footer_inner {padding-top: 40px; width: 1200px; margin: 0 auto;}
.footer_inner > div > div:nth-child(1) {border-bottom: 1px solid rgb(185, 181, 181); display: flex; align-items: center; position: relative;}
.footer_inner > div > div:nth-child(1) ul {display: flex;}
.footer_inner > div > div:nth-child(1) ul li {padding:0 10px;}
.footer_inner > div > div:nth-child(1) span { position: absolute; right: 0; top: 10px;}
.footer_inner > div > div:nth-child(1) select { background: rgb(255, 255, 255); width: 240px; border: 1px solid rgb(201, 194, 194); height: 30px; padding: 0 20px;}
.footer_inner > div > div:nth-child(2) {display: flex; justify-content: space-between; align-items: center; padding:20px 0 40px;}
.footer_inner > div > div:nth-child(2) ul {display: flex;}
.footer_inner > div > div:nth-child(2) ul li {padding-left: 15px;}