@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {font-family: 'Jua', sans-serif;}
a {color: inherit; text-decoration: none;}
h1 {text-align: center; font-size: 7em; text-transform: uppercase;}
h2 {text-align: center; font-size: 2em;}

/* NAV */
/*position: absolute; 하고나면 줄어들어서 width를 해줘야 함*/
/*position 값이 있어야 z-index 사용가능*/
nav {position: absolute; top: 0; width: 100%; padding-top: 12px; z-index: 10;}
nav a, a:visited {color: white;}
nav ul {height: 62px; line-height: 62px; text-align: center;}
nav ul img {vertical-align: middle;}
nav li {display: inline-block; width: 130px; margin: 0 20px;}
#topMenu > .active a { color: red; text-shadow: 1px 1px 2px black; font-size: larger; font-weight: bold;}
.cover {background-color: black; color: tomato;}
.bg1 {background-color: turquoise;}
.bg2 {background-color: skyblue;}
.bg3 {background-color: teal;}
.div1 {width: 1140px; margin: 0 auto; overflow: hidden;}

/* ABOUT ME */

.bg1 h2 {margin-bottom: 75px;}
.bg1 .div1 {line-height: 1.5;}
.bg1 .photo { float: left; width: 300px; margin-right: 30px;}
.bg1 .p-info {float: left; width: 810px;}
.bg1 .p-info > ul {margin-bottom: 22px;}
.bg1 .skill strong, .bg1 .license strong { display: block; width: 110px; float: left;}
.bg1 .skill ul, .bg1 .license ul {float: left;}
.skill img {margin-right: 10px;}
.license {float: right;}

/* works */

.bg2 h2 {margin-bottom: 25px;}
.bg2 .slider_box {height: 605px;}
/*display: block; 해줘야 전체를 차지함*/
.bg2 .slider_box a {display: block;}
.bg2 .slider_box .slider_txt p { font-optical-sizing: 0.85em; padding-top: 5px;}
.bg2 .slider_box .slider_txt h3 { font-optical-sizing: 1.6em; padding-top: 8px;}
/*position: absolute; absolute 후에는 width 설정 해줘야함*/
.bg2 .bx-controls-direction { position: absolute; top: 50%; width: 1140px;}
.bg2 .bx-controls-direction a { position: absolute; display: block; width: 40px; height: 76px; text-indent: -9999px; opacity: 0.4; transition: all .3s; transform: translateY(-50%);}
.bg2 .bx-controls-direction a:hover {opacity: 0.9;}
.bg2 .bx-controls-direction .bx-prev { left: -75px; background:url(../images/main_arrow_left.png);}
.bg2 .bx-controls-direction .bx-next { right: -75px; background:url(../images/main_arrow_right.png);}
.bg2 .bx-pager { width: 1140px; position: absolute; bottom: 85px; text-align: center;}
/*display: inline-block; 세로정렬이 가로정렬로 됨*/
.bg2 .bx-pager div { display: inline-block; margin: 0 5px;}
.bg2 .bx-pager div a { display: block; width: 8px; height: 8px; background-color: #ddd; font-size: 0; border-radius: 50%; transition: all .3s;}
.bg2 .bx-pager div a.active { background-color: #222; width: 42px; height: 8px; border-radius: 4px;}

/* contact me */

/* .bg3 {text-align: center;}
.bg3 .div1 {height: 300px;} */
.bg3 { height: auto !important; text-align: center;}
.bg3 .fp-tableCell {height: 450px !important;}
/*display: inline-block;  세로가 가로정렬로 바뀜*/
.bg3 ul li { display: inline-block;  margin: 116px 10px 0; position: relative; width: 30px; height: 30px;}
.bg3 ul li img { position: absolute; top: 0; left: 0;}
.bg3 ul li img:last-of-type {display: none;}
.bg3 ul li:hover img:last-of-type {display: inline;}
.bg3 p:first-of-type { font-size: 1.2em; margin-top: 50px; line-height: 1.5;}