@charset "utf-8";

.wrap {height: 520px; background-color: #121b66;}
.wrap .bx-wrapper {width: 1177px; margin: 0 auto; position: relative;}
.wrap .slider {color: white;}
.slider .ani {display: flex; justify-content: space-between; height: 520px; align-items: center;}
.slider .ani > div > * {opacity: 0;}
.slider .ani[aria-hidden="false"] > div > * {opacity: 1;}
.slider p {font-size: 20px; transition: opacity .7s .4s;}
.slider .img {position: relative; padding: 24px 0 40px; transition: opacity .7s .6s;}
.slider .img img:last-child {position: absolute; left: 148px; top: 28px; animation: rotate 2s 1.4s infinite;}

@keyframes rotate {
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}

.slider span {font-size: 20px; line-height: 22px; transition: opacity .7s .6s;}
.slider a {display: block; width: 124px; height: 37px; line-height: 37px; margin: 40px 0 0; border: 1px solid white; text-align: center; text-decoration: none; color: white; border-radius: 37px; transition: opacity .7s .7s;}

.slider .ani > img {opacity: 0; transition: opacity .7s .5s; animation: html 3s 1.5s infinite linear;}
.slider .ani[aria-hidden="false"] img {opacity: 1;}

@keyframes html {
    0% {transform: translateY(0);}
    25% {transform: translateY(-15px);}
    75% {transform: translateY(15px);}
    100% {transform: translateY(0);}
}

.bx-controls-direction {position: absolute; width: 1400px; top: 248px; left: 50%; transform: translateX(-50%);}
.bx-controls-direction a {display: inline-block; width: 50px; height: 50px; text-indent: -9999px; opacity: .4; transition: all .7s;}
.bx-controls-direction a:hover {opacity: .9;}
.bx-controls-direction a.bx-prev {background: url(../images/bx-prev.png)}
.bx-controls-direction a.bx-next {position: absolute; right: 0; background: url(../images/bx-next.png);}

.bx-pager {position: absolute; top: 480px; left: 50%; transform: translateX(-50%); text-align: center;}
.bx-pager .bx-pager-item {display: inline-block;}
.bx-pager .bx-pager-item a {display: block; width: 12px; height: 12px; border-radius: 6px; margin: 0 5px 0; background-color: #dadada; text-indent: -9999px; transition: all .7s;}
.bx-pager .bx-pager-item a.active {width: 32px; background-color: yellow;}