
* {
    padding: 0;
    margin: 0;
}

input[id="popup"] {
    display: none;
}

input[id="popup"] + label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 20px;
    background-color: yellowgreen;
    color: white;
    cursor: pointer;
}

input[id="popup"] + label + div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

input[id="popup"]:checked + label + div {
    opacity: 1;
    visibility: visible;
}

input[id="popup"] + label + div > div {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;
}

input[id="popup"] + label + div > div > label {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    padding: 20px;
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
}

input[id="popup"] + label + div > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    z-index: 1;
}
