@charset "utf-8";

a {
    color: #333;
    text-decoration: none;
}

h1.shadow {
    text-shadow: 1px 1px 0 rgb(94, 70, 160);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

/* HEADER */

#main_header .gnb_box {
    width: 1400px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}

#main_header ul.gnb_depth1 {
    position: absolute;
    right: 0;
    top: 0;
}

#main_header ul.gnb_depth1 li {
    display: inline-block;
    margin-left: 40px;
}

#main_header ul.gnb_depth1 .depth1_links {
    font-weight: bold;
    display: inline-block;
    line-height: 80px;
}

#main_header ul.gnb_depth1 .depth1_links::after {
    content: "";
    display: block;
    height: 5px;
    margin-top: -5px;
    display: none;
}

/* VISUAL_AREA */

.visual_area {
    height: 800px;
    position: relative;
}

.visual_area li {
    height: 800px;
}

.visual_area li.slide-one {
    background: url(../images/main_img.png);
}

.visual_area p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.9;
    font-weight: bold;
    text-align: center;
    color: white;
}

.visual_area p .h1-size {
    font-size: 40px;
}

/* INTRO */

.intro {
    width: 1400px;
    height: 600px;
    margin: 0 auto;
}

.intro>div img {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
    width: 700px;
    height: 400px;
    object-fit: cover; 
}

.intro>div ul li {
    margin-bottom: 15px;
    font-size: 15px;
}

.intro>div ul li span {
    display: inline-block;
    width: 670px;
    margin-top: 150px;
    font-weight: bold;
    color: rgba(0,0,0,.3 );
}

.intro>div ul li:nth-of-type(1) {
    margin-bottom: 30px;
}

.intro>div ul li:nth-of-type(2) {
    font-size: 1.3em;
    font-weight: bold;
}

input[type="button"] {
    width: 250px;
    height: 70px;
    font-size: large;
    background-color: white;
    border: 1px solid black;
}

/* INTRO-2*/
.intro-2 {
    position: relative;
}

.intro-2 ul {
    height: 600px;
    list-style: none;
}

.intro-2 ul.picture1 {
    background: url(../images/lunchbox_bg.png);
}

.intro-2 ul h1 {
    padding-top:  80px;
    padding-bottom: 20px;
}

.intro-2 ul li .fourbox {
    width: 1400px;
    margin: 0 auto;
}

.intro-2 ul li .fourbox h1 {
    padding-left: 15px;
    font-weight: bold;
    font-size: 2em;
}

.intro-2 ul li .fourbox span {
    padding-left: 15px;
    font-weight: bold;
    font-size: 20px;
}

.intro-2 ul li .fourbox p {
    font-size: 12px;
    padding-left: 15px;
    padding-top: 30px;
    font-weight: 100;
}

.intro-2 ul li .fourbox img {
    float: right;
}

.intro-2 ul li .box01 {
    width: 285px;
    height: 300px;
    background-color: white;
    color: black;
    float: left;
    margin-right: 66px;
}

.intro-2 ul li .box02 {
    width: 285px;
    height: 300px;
    background-color: white;
    color: black;
    float: left;
    margin-right: 66px;

}

.intro-2 ul li .box03 {
    width: 285px;
    height: 300px;
    background-color: white;
    color: black;
    float: left;
    margin-right: 66px;

}

.intro-2 ul li .box04 {
    width: 285px;
    height: 300px;
    background-color: white;
    color: black;
    float: left;
}


/* INTRO-3*/
.intro-3 {
    margin: 0 auto;
    background-color: #dee0e4;
    height: 400px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 25%;
}



.intro-3 .wrap p {
    font-size: 12px;
    color: #88898b;
    text-align: center;
}

.intro-3 .six01 {
}



/* INTRO-4 */
.intro-4 {
    width: 1400px;
    height: 700px;
    margin: 0 auto;
}

.intro-4 > div img {
    width: 1000px;
    height: 500px;
    margin-right: 10px;
    float: left;
}

.intro-4 > div ul li span {
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
}

.intro-4 > div ul li p {
    margin-bottom: 40px;
    text-align: center;
}


/* FOOTER */
footer {
    height: 200px;
    background-color: #303841;
    text-align: left;
    padding-left: 260px;
    color: white;
}

footer p {
    margin-top: 10px;
}

.footer_menu {
    padding-top: 50px;
}

.footer_img {
    float: right;
    padding-right: 195px;
}

.footer_img li {
    float: left;
    margin: 10px;
}