@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

button {
    background: transparent;
    border: none;
}

#menu {
    position: absolute;
    width: 45px;
    right: -10px;
    top: 25px;
}

#menu > span {
    display: block;
    width: 60%;
    height: 6px;
    background: #000;
    margin: 3px 0;
    border-radius: 5px;
}

a {
    color: #333;
    text-decoration: none;
}

h1.shadow {
    text-shadow: 1px 1px 0 rgb(94, 70, 160);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

/* HEADER */

#main_header .gnb_box {
    width: 1400px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}

#main_header ul.gnb_depth1 {
    position: absolute;
    right: 0;
    top: 0;
}

#main_header ul.gnb_depth1 li {
    display: inline-block;
    margin-left: 40px;
}

#main_header ul.gnb_depth1 .depth1_links {
    font-weight: bold;
    display: inline-block;
    line-height: 80px;
}

#main_header ul.gnb_depth1 .depth1_links::after {
    content: "";
    display: block;
    height: 5px;
    margin-top: -5px;
    display: none;
}

/* VISUAL_AREA */

.visual_area {
    height: 800px;
    position: relative;
}

.visual_area li {
    height: 800px;
}

.visual_area li.slide-one {
    background: url("../images/main_img.png");
}

.visual_area p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.9;
    font-weight: bold;
    text-align: center;
    color: white;
}

.visual_area p .h1-size {
    font-size: 40px;
}

/* INTRO */

.intro {
    width: 1400px;
    height: 600px;
    margin: 0 auto;
}

.intro > div img {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
    width: 700px;
    height: 400px;
    object-fit: cover;
}

.intro > div ul li {
    margin-bottom: 15px;
    font-size: 15px;
}

.intro > div ul li span {
    display: inline-block;
    width: 670px;
    margin-top: 150px;
    font-weight: bold;
    color: rgba(0,0,0,.3);
}

.intro > div ul li:nth-of-type(1) {
    margin-bottom: 30px;
}

.intro > div ul li:nth-of-type(2) {
    font-size: 1.3em;
    font-weight: bold;
}

input[type="button"] {
    width: 250px;
    height: 70px;
    font-size: large;
    background-color: white;
    border: 1px solid black;
}

/* INTRO-2*/
.intro-2 {
    position: relative;
}

.intro-2 ul {
    height: 600px;
    list-style: none;
}

.intro-2 ul.picture1 {
    background: url("../images/lunchbox_bg.png");
}

.intro-2 ul h1 {
    padding-top: 80px;
    padding-bottom: 20px;
}

.intro-2 ul li .fourbox {
    width: 1400px;
    margin: 0 auto;
}

.intro-2 ul li .fourbox h1 {
    padding-left: 15px;
    font-weight: bold;
    font-size: 2em;
}

.intro-2 ul li .fourbox span {
    padding-left: 15px;
    font-weight: bold;
    font-size: 20px;
}

.intro-2 ul li .fourbox p {
    font-size: 12px;
    padding-left: 15px;
    padding-top: 30px;
    font-weight: 100;
}

.intro-2 ul li .fourbox img {
    float: right;
}

.intro-2 ul li .box01 {
    width: 285px;
    height: 300px;
    background-color: white;
    color: black;
    float: left;
    margin-right: 66px;
}

.intro-2 ul li .box02 {
    width: 285px;
    height: 300px;
    background-color: white;
    color: black;
    float: left;
    margin-right: 66px;

}

.intro-2 ul li .box03 {
    width: 285px;
    height: 300px;
    background-color: white;
    color: black;
    float: left;
    margin-right: 66px;

}

.intro-2 ul li .box04 {
    width: 285px;
    height: 300px;
    background-color: white;
    color: black;
    float: left;
}

/* INTRO-3*/

.intro-3 {
    margin: 0 auto;
    padding-top: 50px;
}

.intro-3 > .intro3 {
    background-color: #e3e6e7;
    border-radius: 0 180px 180px 0;
    width: 1500px;
}

.intro-3 > .intro3 ul li .sixbox1 {
    height: 400px;
}

.intro-3 > .intro3 ul li .sixbox1 .image01 {
    margin-left: 100px;
    margin-bottom: 160px;
}

.intro-3 > .intro3 ul li .sixbox1 .image02 {
    margin-left: -60px;
    width: 30px;
    transform: translate(-10px, -100px);
}

.intro-3 > .intro3 ul li .sixbox1 .image03 {
    width: 30px;
    transform: translate(-10px, -100px);
}

.intro-3 > .intro3 ul li .sixbox01 {
    padding-right: 80px;
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    margin-left: 100px;
    text-align: center;
}

.intro-3 > .intro3 ul li .sixbox01 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-3 > .intro3 ul li .sixbox01 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.intro-3 > .intro3 ul li .sixbox02 {
    padding-right: 80px;
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
}

.intro-3 > .intro3 ul li .sixbox02 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-3 > .intro3 ul li .sixbox02 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.intro-3 > .intro3 ul li .sixbox03 {
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
}

.intro-3 > .intro3 ul li .sixbox03 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-3 > .intro3 ul li .sixbox03 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

/* INTRO-4*/

.intro-4 {
    margin: 0 auto;
    padding-top: 50px;
}

.intro-4 > .intro4 {
    background-color: #eed2e7;
    border-radius: 180px 0 0 180px;
    width: 1500px;
    margin-left: 420px;

}

.intro-4 > .intro4 ul li .sixbox2 {
    height: 400px;
}

.intro-4 > .intro4 ul li .sixbox2 .image01 {
    margin-bottom: 160px;
    transform: translate(1300px, 0);
}

.intro-4 > .intro4 ul li .sixbox2 .image02 {
    width: 30px;
    margin-left: -60px;
    transform: translate(1300px, -100px);
}

.intro-4 > .intro4 ul li .sixbox2 .image03 {
    width: 30px;
    transform: translate(1300px, -100px);
}

.intro-4 > .intro4 ul li .sixbox04 {
    padding-right: 80px;
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
    margin-left: 150px;
}

.intro-4 > .intro4 ul li .sixbox04 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-4 > .intro4 ul li .sixbox04 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.intro-4 > .intro4 ul li .sixbox05 {
    padding-right: 80px;
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
}

.intro-4 > .intro4 ul li .sixbox05 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-4 > .intro4 ul li .sixbox05 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.intro-4 > .intro4 ul li .sixbox06 {
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
}

.intro-4 > .intro4 ul li .sixbox06 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-4 > .intro4 ul li .sixbox06 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

/* INTRO-5*/

.intro-5 {
    margin: 0 auto;
    padding-top: 50px;
}

.intro-5 > .intro5 {
    background-color: #e3e6e7;
    border-radius: 0 180px 180px 0;
    width: 1500px;
}

.intro-5 > .intro5 ul li .sixbox3 {
    height: 400px;
}

.intro-5 > .intro5 ul li .sixbox3 .image01 {
    margin-left: 100px;
    margin-bottom: 160px;
}

.intro-5 > .intro5 ul li .sixbox3 .image02 {
    margin-left: -60px;
    width: 30px;
    transform: translate(-10px, -100px);
}

.intro-5 > .intro5 ul li .sixbox3 .image03 {
    width: 30px;
    transform: translate(-10px, -100px);
}

.intro-5 > .intro5 ul li .sixbox07 {
    padding-right: 80px;
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
    margin-left: 100px;

}

.intro-5 > .intro5 ul li .sixbox07 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-5 > .intro5 ul li .sixbox07 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.intro-5 > .intro5 ul li .sixbox08 {
    padding-right: 80px;
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
}

.intro-5 > .intro5 ul li .sixbox08 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-5 > .intro5 ul li .sixbox08 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.intro-5 > .intro5 ul li .sixbox09 {
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
}

.intro-5 > .intro5 ul li .sixbox09 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-5 > .intro5 ul li .sixbox9 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

/* INTRO-6*/
.intro-6 {
    margin: 0 auto;
    padding-top: 50px;
}

.intro-6 > .intro6 {
    background-color: #eed2e7;
    border-radius: 180px 0 0 180px;
    width: 1500px;
    margin-left: 420px;

}

.intro-6 > .intro6 ul li .sixbox4 {
    height: 400px;
}

.intro-6 > .intro6 ul li .sixbox4 .image01 {
    margin-bottom: 160px;
    transform: translate(1320px, 0);
}

.intro-6 > .intro6 ul li .sixbox4 .image02 {
    margin-left: -60px;
    width: 30px;
    transform: translate(1300px, -100px);
}

.intro-6 > .intro6 ul li .sixbox4 .image03 {
    width: 30px;
    transform: translate(1300px, -100px);
}

.intro-6 > .intro6 ul li .sixbox10 {
    padding-right: 80px;
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
    margin-left: 150px;

}

.intro-6 > .intro6 ul li .sixbox10 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-6 > .intro6 ul li .sixbox10 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.intro-6 > .intro6 ul li .sixbox11 {
    padding-right: 80px;
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
}

.intro-6 > .intro6 ul li .sixbox11 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-6 > .intro6 ul li .sixbox11 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.intro-6 > .intro6 ul li .sixbox12 {
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
}

.intro-6 > .intro6 ul li .sixbox12 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-6 > .intro6 ul li .sixbox12 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

/* INTRO-7*/
.intro-7 {
    margin: 0 auto;
    padding-top: 50px;
}

.intro-7 > .intro7 {
    background-color: #e3e6e7;
    border-radius: 0 180px 180px 0;
    width: 1500px;
}

.intro-7 > .intro7 ul li .sixbox5 {
    height: 400px;
}

.intro-7 > .intro7 ul li .sixbox5 .image01 {
    margin-left: 100px;
    margin-bottom: 160px;
}

.intro-7 > .intro7 ul li .sixbox5 .image02 {
    margin-left: -60px;
    width: 30px;
    transform: translate(-10px, -100px);
}

.intro-7 > .intro7 ul li .sixbox5 .image03 {
    width: 30px;
    transform: translate(-10px, -100px);
}

.intro-7 > .intro7 ul li .sixbox13 {
    padding-right: 80px;
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
    margin-left: 100px;

}

.intro-7 > .intro7 ul li .sixbox13 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-7 > .intro7 ul li .sixbox13 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.intro-7 > .intro7 ul li .sixbox14 {
    padding-right: 80px;
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
}

.intro-7 > .intro7 ul li .sixbox14 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-7 > .intro7 ul li .sixbox14 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.intro-7 > .intro7 ul li .sixbox15 {
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
}

.intro-7 > .intro7 ul li .sixbox15 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-7 > .intro7 ul li .sixbox15 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

/* INTRO-8*/

.intro-8 {
    margin: 0 auto;
    padding-top: 50px;
}

.intro-8 > .intro8 {
    background-color: #eed2e7;
    border-radius: 180px 0 0 180px;
    width: 1500px;
    margin-left: 420px;

}

.intro-8 > .intro8 ul li .sixbox6 {
    height: 400px;
}

.intro-8 > .intro8 ul li .sixbox6 .image01 {
    margin-bottom: 160px;
    transform: translate(1300px, 0);
}

.intro-8 > .intro8 ul li .sixbox6 .image02 {
    margin-left: -60px;
    width: 30px;
    transform: translate(1280px, -100px);
}

.intro-8 > .intro8 ul li .sixbox6 .image03 {
    width: 30px;
    transform: translate(1280px, -100px);
}

.intro-8 > .intro8 ul li .sixbox16 {
    padding-right: 80px;
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
    margin-left: 150px;

}

.intro-8 > .intro8 ul li .sixbox16 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-8 > .intro8 ul li .sixbox16 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.intro-8 > .intro8 ul li .sixbox17 {
    padding-right: 80px;
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
}

.intro-8 > .intro8 ul li .sixbox17 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-8 > .intro8 ul li .sixbox17 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.intro-8 > .intro8 ul li .sixbox18 {
    width: 250px;
    height: 250px;
    display: inline-block;
    padding-top: 60px;
    text-align: center;
}

.intro-8 > .intro8 ul li .sixbox18 span {
    font-weight: bold;
    font-size: 24px;
}

.intro-8 > .intro8 ul li .sixbox18 p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

/* INTRO-9 */
.intro-9 {
    width: 1400px;
    height: 700px;
    margin: 0 auto;
    padding: 60px;
}

.intro-9 > div img {
    width: 1000px;
    height: 500px;
    margin-right: 10px;
    float: left;
}

.intro-9 > div ul li span {
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
}

.intro-9 > div ul li span div {
    margin-bottom: 5px;
}

.intro-9 > div ul li p {
    margin-bottom: 48px;
    text-align: center;
    margin-top: 5px;
}

/* FOOTER */
footer {
    height: 200px;
    background-color: #303841;
    text-align: left;
    padding-left: 260px;
    color: white;
}

footer p {
    margin-top: 10px;
}

.footer_menu {
    padding-top: 50px;
}

.footer_img {
    float: right;
    padding-right: 195px;
}

.footer_img li {
    float: left;
    margin: 10px;
}
