@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


a {color: inherit; text-decoration: none;}
body {font-family: 'Jua', sans-serif; padding: 0px; margin: 0px; }
/* overflow-x: hidden; 우측여백 생길때 사용*/

/* header*/
#header {background-color: beige; height: 60px; }
.topHeader { width: 100%; margin-left: 345px;  margin-top: -39px; }
.material-symbols-outlined { margin-top: 19px; margin-left: 310px; cursor: pointer; }
input::placeholder {color: black; font-family: 'Jua', sans-serif;}

.topHeader_image { margin-left: 1400px; margin-top: -38px;}
.topHeader_image1 {margin-right: 15px;}
.topHeader_image2 {margin-right: 15px;}
.topHeader_image3 {margin-right: 15px;}

#input {width: 250px; height:40px;border-radius: 10px;}

/* nav */
nav {position: absolute; top: 0; width: 100%; z-index: 10; top: 60px;; background-color: rgb(255, 255, 255);}
nav a, a:visited {color: black;}
nav ul {height: 60px; line-height: 60px; text-align: center;}
nav li {display: inline-block; width: 150px; margin: 0 20px;}
#topMenu > .active a {color: tomato; text-shadow: 1px 1px 2px black; font-size: larger; font-weight: bold;}

/* video */
.bg { width: 100%; padding-top: 50px; height: 850px; overflow: hidden; margin: 0px auto; position: relative;}
video {width: 100%;}

/* about */
.about_wrap {background-color: blue;}
.about_iu {width: 100%; font-size: 30px; padding-top: 80px; background-color: beige; height: 1000px;}
.about_iu .about_img {padding-top: 30px; padding-left: 150px; float: left; background-color: teal; width: 42%;} 
.about_text {text-align: center; padding-bottom: 30px;}
.about_explain { background-color: pink; float: left; width: 50%; padding-top: 30px;}

/* album */
.album .album1 {margin-left: 110px;}
.album .album5 {margin-right: 110px;}

.album h2 { text-align: center; font-size: 30px; padding-top: 40px; padding-bottom: 30px;}
.album ul.slider {margin: 0 auto; display: inline-block;}
.album ul.slider > li {display: flex; justify-content: space-around;}
.album ul.slider > li > a {display: inline-block;}
.album ul.slider > li > a > img {display: inline-block; width: 280px; height: 280px; }
.album ul.slider > li > a > div {position: relative; width: 280px; height: 40px; display: flex;  align-items: center; }
.album ul.slider > li > a > div > p {display: inline-block; text-align: left; line-height: 1.5;}

.album .bx-controls-direction {position: relative; width: 1400px; height: 60px;}
.album .bx-controls-direction > a {display: inline-block; width: 40px; height: 60px; text-indent: -9999px; position: absolute; transition: all 1s;}

.bx-controls {position: relative; width: 100%; margin: 0 auto;}
.bx-controls-direction a.bx-prev {background: url(../../3번째시험/images/left.png) no-repeat; top: -200px; left: 50px;}  
.bx-controls-direction a.bx-next {position: absolute;  right: 0; background: url(../../3번째시험/images/right.png) no-repeat; top: -200px; right: -460px;} 
.bx-controls-direction a.bx-prev:hover {background: url(../../3번째시험/images/left-r.png) no-repeat;}  
.bx-controls-direction a.bx-next:hover  {background: url(../../3번째시험/images/right-r.png) no-repeat;} 

.bx-pager {width: 100px; text-align: center; position: absolute; left: 50%;}
.bx-pager .bx-pager-item {display: inline-block; text-indent: -9999px; width: 50%;}
.bx-pager .bx-pager-item > a {display: block; width: 12px; height: 12px;  margin: 0 20px 0; background-color: rgb(156, 148, 148); transform: rotate(45deg); transition: all 1s; border-radius: 50%;}
.bx-pager .bx-pager-item > a.active {background-color: black;}