@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* header*/
a {color: inherit; text-decoration: none;}
body {font-family: 'Jua', sans-serif;}

input::placeholder {color: black; font-family: 'Jua', sans-serif;}
#input {width: 250px; height:40px; margin: 7px 0 0 345px; border-radius: 10px;}

/* nav */
nav {position: absolute; top: 0; width: 100%; z-index: 10; top: 60px;; background-color: teal;}
nav a, a:visited {color: white;}
nav ul {height: 60px; line-height: 60px; text-align: center;}
nav li {display: inline-block; width: 150px; margin: 0 20px;}
#topMenu > .active a {color: tomato; text-shadow: 1px 1px 2px black; font-size: larger; font-weight: bold;}