@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


a {color: inherit; text-decoration: none;}
body {font-family: 'Jua', sans-serif; padding: 0px; margin: 0px; overflow-x: hidden;}
/* overflow-x: hidden; */

/* header*/
#header {background-color: beige; height: 60px; }
.topHeader { width: 100%; margin-left: 345px;  margin-top: -39px; }
.material-symbols-outlined { margin-top: 19px; margin-left: 310px; cursor: pointer; }
input::placeholder {color: black; font-family: 'Jua', sans-serif;}

.topHeader_image { margin-left: 1400px; margin-top: -38px;}
.topHeader_image1 {margin-right: 15px;}
.topHeader_image2 {margin-right: 15px;}
.topHeader_image3 {margin-right: 15px;}

#input {width: 250px; height:40px;border-radius: 10px;}

/* nav */
nav {position: absolute; top: 0; width: 100%; z-index: 10; top: 60px;; background-color: rgb(255, 255, 255);}
nav a, a:visited {color: black;}
nav ul {height: 60px; line-height: 60px; text-align: center;}
nav li {display: inline-block; width: 150px; margin: 0 20px;}
#topMenu > .active a {color: tomato; text-shadow: 1px 1px 2px black; font-size: larger; font-weight: bold;}

/* video */
.bg { width: 100%; padding-top: 50px; height: 850px; overflow: hidden; margin: 0px auto; position: relative;}
video {width: 100%;}

/* about */
.about_wrap {background-color: blue;}
.about_iu {width: 100%; font-size: 30px; padding-top: 80px; background-color: beige; height: 1000px;}
.about_iu .about_img {padding-top: 30px; padding-left: 150px; float: left; background-color: teal; width: 42%;} 
.about_text {text-align: center; padding-bottom: 30px;}
.about_explain { background-color: pink; float: left; width: 50%; padding-top: 30px;}

/* album */
.album {background-color: rgb(156, 223, 240); height: 700px;}
.album .album1 {margin-left: 110px;}
.album .album5 {margin-right: 110px;}

.album h2 { text-align: center; font-size: 30px; padding-top: 60px; padding-bottom: 60px;}
.album ul.slider {margin: 0 auto; display: inline-block;}
.album ul.slider > li {display: flex; justify-content: space-around;}
.album ul.slider > li > a {display: inline-block;}
.album ul.slider > li > a > img {display: inline-block; width: 280px; height: 280px; }
.album ul.slider > li > a > div {position: relative; width: 280px; height: 40px; display: flex;  align-items: center; }
.album ul.slider > li > a > div > p {display: inline-block; text-align: left; line-height: 1.5;}

.album .bx-controls-direction {position: relative; width: 1400px; height: 60px;}
.album .bx-controls-direction > a {display: inline-block; width: 40px; height: 60px; text-indent: -9999px; position: absolute; transition: all 1s;}

.bx-controls {position: relative; width: 100%; margin: 0 auto;}
.bx-controls-direction a.bx-prev {background: url(../../3번째시험/images/left.png) no-repeat; top: -200px; left: 50px;}  
.bx-controls-direction a.bx-next {position: absolute;  right: 0; background: url(../../3번째시험/images/right.png) no-repeat; top: -200px; right: -460px;} 
.bx-controls-direction a.bx-prev:hover {background: url(../../3번째시험/images/left-r.png) no-repeat;}  
.bx-controls-direction a.bx-next:hover  {background: url(../../3번째시험/images/right-r.png) no-repeat;} 

.bx-pager {width: 100px; text-align: center; position: absolute; left: 47%;}
.bx-pager .bx-pager-item {display: inline-block; text-indent: -9999px; width: 33%;}
.bx-pager .bx-pager-item > a {display: block; width: 12px; height: 12px;  margin: 0 20px 0; background-color: rgb(156, 148, 148); transform: rotate(45deg); transition: all 1s; border-radius: 50%;}
.bx-pager .bx-pager-item > a.active {background-color: black;}

/* drama */
.drama {height: 2100px; background-color: beige;}
.drama h2 { text-align: center; font-size: 30px; padding-top: 100px; padding-bottom: 80px;}
.drama .drama_top2 { background-size: cover; width: 50%; height: 1000px;}
.drama_bottom1 {background-image: url(); background-size: cover; width: 50%; height: 1000px; margin-top: -990px;}
.drama_bottom2 {background-image: url(); background-size: cover; width: 50%; height: 1000px; margin-top: -990px;}

/* movie */
.movie {height: 1100px; background-color: teal;}
.movie h2 {text-align: center; font-size: 30px; padding-top: 40px; padding-bottom: 60px;}
.movie .movie_top1 {background-image: url(https://pbs.twimg.com/media/D16An8HUcAAW-0F.jpg:large); background-size: cover; width: 50%; height: 900px; }
.movie .movie_top2 {background-image: url(https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/201905/10/e4af2d93-2ab1-4670-bf88-f75e8e5cf4df.jpg); background-size: cover; width: 50%; height: 900px; }
.movie .movie_top3 {background-image: url(https://mblogthumb-phinf.pstatic.net/MjAxOTAzMjJfMTE2/MDAxNTUzMjYxNzIzNjEw.mUKNVMLZqkz_E5ULn6GydejAY2ZG1AWvP7aWVM_sAmYg.zelY1dZ7xfJ0363rDkZSDwaXwzks1Nrj6qGsMhKrLcEg.JPEG.smotherguy/%ED%81%AC%EA%B8%B0%EB%B3%80%ED%99%98D2RA_ZTUYAE7OpT.jpg?type=w2); background-size: cover; width: 50%; height: 900px; }
.movie .movie_top4 {background-image: url(https://img1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/7nmU/image/7yzCudukAxvcL_M6dDEzZ5fV09Q.jpg); background-size: cover; width: 50%; height: 900px; }

/* ent */
.location_info {margin-top: 830px; min-width: 1200px; background-color: #9cc15c; height: 655px; position: relative;}
.location_info>img {position: absolute; top: 0;right: 50%;}
.location_info>div {position: absolute; left: 56%; top: 160px;}
.location_info>div strong { font-size: 40px; display: block; margin-bottom: 20px;}
.location_info>div p { font-size: 20px; margin-bottom: 20px;}
.location_info>div ul {margin-bottom: 80px;}
.location_info>div ul li { color: #fff; margin: 7px 0;}
.location_info>div ul li span { display: inline-block; width: 110px;}
.location_info>div a { display: inline-block; background-color: #414042; color: white; text-decoration: none; padding: 15px 40px;}



https://www.mikaelareuben.com/
https://www.camiferreol.com/innovana