@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

a:link,
a:visited {
    color: #333;
    text-decoration: none;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h1.shadow {
    text-shadow: 2px 2px 0 pink;
    text-align: center;
    margin-bottom: 60px;
}

/* 헤더 */
header {
    text-align: center;
    padding-top: 10px;
    background: linear-gradient(to bottom, #d8d8d8, #d8d8d8 191px, #000000 191px, #000000);
}

header ul {
    width: 1200px;
    margin: 10px auto 0;
    overflow: hidden;
}

header ul li {
    width: 20%;
    float: left;
}

header ul li a,
a:visited {
    color: white;
    display: block;
    height: 48px;
    line-height: 48px;
    border-right: 1px solid #aeaeae;
}

header ul li:nth-of-type(5) a {
    border: 0;
}

header ul li a:hover {
    color: #e6007e;
    font-size: 18px;
    font-weight: bold;
}

/* 비주얼 영역 */
.visual_area {
    height: 630px;
    background: url(../images/main-image.jpg);
    background-position: center;
    position: relative;
    margin-bottom: 80px;
}

.visual_area div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visual_area div h1 {
    font-family: 'Jua', sans-serif;
    font-size: 62px;
    text-shadow: 5px 0 0 white, -1px 0 0 white;
}

.visual_area div p {
    text-align: center;
    padding: 15px 0;
}

.visual_area div p mark {
    background-color: #acfc09;
}

.visual_area div p i {
    font-style: italic;
}

/* 인트로 */
.intro {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}

.intro>div img {
    float: left;
    border-radius: 50%;
    margin-right: 60px;
    margin-top: -20px
}

.intro>div ul li {
    margin-bottom: 15px;
    font-size: 18px;
}

.intro>div ul li span {
    display: inline-block;
    width: 110px;
    font-weight: bold;
}

.intro>div ul li:nth-of-type(3) {
    margin-bottom: 30px;
}

.intro>div ul li:nth-of-type(4) {
    line-height: 1.5;
}

/* 포트폴리오 */
.portfolio {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}

ul.port_wrap {
    overflow: hidden;
    background-color: pink;
}

ul.port_wrap li {
    float: left;
    width: 30%;
    height: 560px;
    margin-right: 5%;
    box-sizing: border-box;
    border: 1px solid #dadada;
    transition: all .7s;
    cursor: pointer;
    overflow: hidden;
    background-size: auto 100%;
    background-position: center;
}

ul.port_wrap li:nth-of-type(3) {
    margin: 0;
}

ul.port_wrap li:nth-of-type(1) {
    background-image: url(../images/easter-01.jpg);
}

ul.port_wrap li:nth-of-type(2) {
    background-image: url(../images/easter-02.jpg);
}

ul.port_wrap li:nth-of-type(3) {
    background-image: url(../images/easter-03.jpg);
}

ul.port_wrap li:hover {
    background-size: auto 120%;
}

ul.port_wrap li .div_black {
    height: 560px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 1s;
    color: white;
    position: relative;
}

ul.port_wrap li:hover .div_black {
    opacity: 1;
}

ul.port_wrap li .div_black strong {
    position: absolute;
    top: 400px;
    left: -100%;
    opacity: 0;
    transition: all .7s;
    font-weight: bold;
    font-size: 48px;
}

ul.port_wrap li:hover .div_black strong {
    opacity: 1;
    left: 24px;
}

ul.port_wrap li .div_black span {
    display: block;
    width: 1px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 460px;
    left: 24px;
    opacity: 0;
    transition: all .5s;
    transition-delay: .4s;
}

ul.port_wrap li:hover .div_black span {
    width: calc(100% - 48px);
    opacity: 1;
}

ul.port_wrap li .div_black p {
    position: absolute;
    top: 480px;
    left: 24px;
    opacity: 0;
    ;
}

ul.port_wrap li:hover .div_black p {
    opacity: 1;
    transition: all .3s;
    transition-delay: .9s;
}

/* 비디오 */
.video {
    height: 896px;
}

.video>div {
    height: 504px;
    background-color: #dadada;
}

.video>div .video_wrap {
    width: 1200px;
    margin: 0 auto;
}

/* 푸터 */
footer {
    height: 197px;
    background-color: #303841;
    text-align: center;
    color: white;
    line-height: 1.5;
}

footer ul.footer_menu {
    border-bottom: 1px solid #666666;
}

footer ul.footer_menu li {
    display: inline-block;
    margin: 10px 20px;
}

footer p {
    margin-top: 57px;
}