@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {font-family: 'Noto Sans KR', sans-serif;}
a, a:visited {text-decoration: none; color: black;}
.inner {width: 1400px; margin: 0 auto;}

/*========================================= HEADER ===============================================*/
header {background: linear-gradient(to bottom, black, black 50px, white 50px, white)}

header .header_first_line { display: block; text-align: center; padding-top: 15px;}
.header_first_line span {color: white;}
.header_first_line .header_first_line_color { color: red; font-weight: bold;}

header .header_second_line { height: 100px; position: relative;}
.header_second_line img{margin: 30px 0 0 -120px;}
.header_second_line ul { position: absolute; width: 770px; right: 0; top: 58%; transform: translateY(-50%); overflow: hidden;}
.header_second_line ul li { float: left; width: 20%; text-align: center; line-height: 88px;}
.header_second_line ul li a { display: block; font-size: 18px;  font-weight: 550; color: black; text-decoration: none; }
.header_second_line ul li a::after {display: block; height: 5px; background-color: red;  margin-top: -4px; display: none;}
.header_second_line ul li:hover a::after {display: block;}

/*========================================== MAIN =============================================== */
.main_screen {position: relative; width: 100%; height: 720px; background-color: black;  border-bottom: 1px solid white;}
.main_screen img {width: 100%;}
.main_screen div {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
.main_screen span {color: white; font-size: 40px; font-weight: bold;}
.main_screen p {color: red; font-family: 'Titan One', cursive; font-size: 100px;}

/*====================================== PRODUCT_LIST ============================================= */
.product_list { height: 1987px; width: 100%; text-align: center; overflow: hidden; background-color: black;}
.product_list h1 span {color: white;}

.product {text-align: center; font-family: 'Titan One', cursive; height: 815px; position: relative;  margin: 170px auto 230px;} 
.product > h1 {position: absolute; top: 0; left: 50%; color: red; font-size: 3em; transform: translateX(-50%);}

/*========================================== TABS =============================================== */
.tabs { position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;}
.tabs label { display: inline-block; position: relative; box-sizing: border-box; width: 120px; height: 40px; line-height: 40px; border: 1px solid white; border-radius: 20px; color: white; font-size: 14px;  font-family: 'Noto Sans KR', sans-serif; cursor: pointer; margin: 0 16px; }

input[type=radio] {display: none;}
input[type=radio]:checked + label { background-color: white; color: black;}

input[id=tab01]:checked ~ .button01 {display: block;}
input[id=tab02]:checked ~ .button02 {display: block;}
input[id=tab03]:checked ~ .button03 {display: block;}
input[id=tab04]:checked ~ .button04 {display: block;}
input[id=tab05]:checked ~ .button05 {display: block;}
input[id=tab06]:checked ~ .button06 {display: block;}
input[id=tab07]:checked ~ .button07 {display: block;}

/*======================================= TAB_BUTTON =============================================== */
.tab_button { position: absolute; top: -650px; left: 0; width: 1400px; height: 600px; display: none; background-color: white;}
.tab_button .button_text {width: 650px; height: 400px; position: absolute; top: 120px; left: 90px; text-align: left; font-family: 'Noto Sans KR', sans-serif;}
.tab_button .button_text p {font-size: 25px;  margin-bottom: 25px;}
.tab_button .button_text h2 {font-size: 70px;  margin-bottom: 75px; letter-spacing: -5px;}
.tab_button .button_text div {width: 50px; height: 1px; background-color: black; margin-bottom: 30px; }
.tab_button .button_text p.p_2 {font-size: 16px; font-weight: 400; font-family: 'Noto Sans KR', sans-serif; margin-bottom: 40px; line-height: 1.5;}
.tab_button .button_text a { display: inline-block; width: 200px; height: 50px; line-height: 50px; border-radius: 25px; text-align: center; background-color: black; font-size: 16px; color: white;}
.tab_button .img {width: 800px; height: 525px; position: absolute; top: 34px; right: 34px;}

.button1 .img {background: url(../images/brand-img.png);}
.button2 .img {background: url(../images/brand-img2.png)no-repeat center;}
.button3 .img {background: url(../images/brand-img3.png)no-repeat center;}

/*======================================= YOUTUBE =============================================== */
.youtube {height: 553px;}
.youtube h1{ color: red; padding-bottom: 50px; font-size: 3em; font-family: 'Titan One', cursive;}
.youtube .bx-wrapper {width: 1400px; margin: 0 auto; position: relative;}
.youtube ul.slider {width: 1370px; margin: 0 auto; display: inline-block;}
.youtube ul.slider > li {display: flex; justify-content: space-around;}
.youtube ul.slider > li > a {display: inline-block; width: 320px; height: 229px;}
.youtube ul.slider > li > a > img {display: inline-block; width: 320px; height: 180px;}
.youtube ul.slider > li > a > div {position: relative; width: 320px; height: 55px; display: flex; justify-content: space-between; align-items: center;}
.youtube ul.slider > li > a > div > img {display: inline-block; width: 36px; height: 36px;}
.youtube ul.slider > li > a > div > p {font-size: 15px; display: inline-block; color: #fff; text-align: left; margin-left: 10px; line-height: 1.5; width: 265px;}

.youtube .bx-controls-direction {position: relative; width: 1400px; height: 58px;}
.youtube .bx-controls-direction > a {display: inline-block; width: 37px; height: 58px; text-indent: -9999px; position: absolute; transition: all 0.7s;}
.bx-controls-direction a.bx-prev {background: url(../images/left.png) no-repeat; top: -160px; left: -50px;}  
.bx-controls-direction a.bx-next {position: absolute; right: 0; background: url(../images/right.png) no-repeat; top: -160px; right: -50px;} 
.bx-controls-direction a.bx-prev:hover {background: url(../images/left-r.png) no-repeat;}  
.bx-controls-direction a.bx-next:hover  {background: url(../images/right-r.png) no-repeat;} 


.bx-controls {position: relative; width: 100%; margin: 0 auto;} 
.bx-pager {width: 100px; text-align: center; position: absolute; left: 50%; transform: translateX(-50%);}
.bx-pager .bx-pager-item {display: inline-block; text-indent: -9999px; width: 50%;}
.bx-pager .bx-pager-item > a {display: block; width: 12px; height: 12px;  margin: 0 20px 0; background-color: #fff; transform: rotate(45deg); /* border: 1px solid #f00; */ transition: all 1s; border-radius: 50%;}
.bx-pager .bx-pager-item > a.active {background-color: #f00;}


/*=======================================CIRCLES=============================================== */
.circles h1 {font-size: 50px; color: red; font-family: 'Titan One', cursive; text-align: center; margin: 50px 0 30px;}
.circles h1 span {color: black;}
.circles .circles_wrap {position: relative; height: 910px;}
.circles .circles_wrap div {position: absolute; color: white; text-align: center; text-shadow: 3px 3px 0  #333; font-weight: bold; cursor: pointer; overflow: hidden; transition: .5s; border-radius: 50%; background-color: #f00;}
.circles .circles_wrap .circle1 {width: 358px; height: 359px; top: 0; left: 0; font-size: 25px; line-height: 358px;}
.circles .circles_wrap .circle2 {width: 256px; height: 256px; top: 500px; right: 442px; font-size: 18px; line-height: 256px;}
.circles .circles_wrap .circle3 {width: 451px; height: 450px; top: 455px; left: 0; font-size: 35px; line-height: 451px;}
.circles .circles_wrap .circle4 {width: 363px; height: 363px; top: 25px; right: 0; font-size: 25px; line-height: 363px;}
.circles .circles_wrap .circle5 {width: 304px; height: 303px; top: 600px; right: 28px; font-size: 18px; line-height: 303px;}
.circles .circles_wrap .circle6 {width: 339px; height: 339px; top: 150px; left: 433px; font-size: 25px; line-height: 339px;}

/*======================================= BLACKBOX =============================================== */
.blackbox {margin-bottom: 200px;}
.blackbox h1 {font-size: 50px; color: red; font-family: 'Titan One', cursive; text-align: center; margin: 120px 0 60px;}
.blackbox h1 span {color: black;}
.blackbox ul {width: 1400px; margin: 0 auto; display: flex; justify-content: space-between; text-align: center; font-size: 18px; font-weight: bold;}
.blackbox li div {width: 450px; height: 248px; border-radius: 40px; overflow: hidden;}
.blackbox ul p {margin-top: 10px; color: black; }

/*======================================= FOOTER =============================================== */
footer {height: 485px; width: 100%;}
footer .sns {height: 88px; background-color: rgb(192, 186, 186);}
footer .sns div {width: 334px; height: 88px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}

footer .f_gnb {height: 64px; line-height: 64px; background-color: black;}
footer .f_gnb ul {width: 1400px; margin: 0 auto; display: flex; justify-content: center; text-align: center;}
footer .f_gnb ul li a {display: inline-block; width: 200px; font-size: 15px; font-weight: 600; color: gray;}
footer .f_gnb ul li:nth-child(1) a {color: white;}

footer .f_info {background-color: gray; height: 333px; position: relative;}
footer .f_info > div {width: 1400px; margin: 0 auto;}
footer .f_info img {margin: 60px 0 73px; }
footer .f_info p {color: white; line-height: 1.56;}
footer .f_info p:last-child {text-align: right;}
footer .f_info div div {display: flex; justify-content: space-between; align-items: flex-end;}
footer .sns a {display: block; width: 50px; line-height: 50px; border-radius: 50%; background-color: #f00; text-align: center; color: white; font-weight: bold;}
